*
  padding: 0
  margin: 0
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: #fff
::-webkit-scrollbar-thumb
  background: #12a7ef
  border-radius: 5px
::-webkit-scrollbar-thumb:hover
  background: #555
html,body,#app
  height: 100%
.grid-container
  display: grid
//Buttons
.btns
  border-radius: 50%
  outline: none
  color: #fff
  text-align: center
  border: none
  line-height: 36px
  cursor: pointer
  transition: all 500ms ease-in-out
  &:active,:hover,:focus
    outline: none
    border: none
//Error
.error
  color: red
  font-size: 13px
  padding-left: 14px
  margin-top: 5px
