@import "helpers/mixins"
*
  padding: 0
  margin: 0
::-webkit-scrollbar
  width: 5px
::-webkit-scrollbar-track
  background: #fff
::-webkit-scrollbar-thumb
  background: #12a7ef
  border-radius: 5px
::-webkit-scrollbar-thumb:hover
  background: #555
html,body,#app
  height: 100%
#app
  position: relative
.grid-container
  display: grid
.flex-container
  display: flex
//Buttons
.btns
  border-radius: 50%
  max-width: 40px
  outline: none
  color: #fff
  text-align: center
  border: none
  line-height: 36px
  cursor: pointer
  transition: all 500ms ease-in-out
  &:active,:hover,:focus
    outline: none
    border: none
.btn-back
  margin: 15px 0
.btn-change
  @include button(#f1ae18)
.btn-delete,.btn-cancel
  @include button(#eb1919)
.btn-save,.btn-back
  @include button(#0eda3d)
.btn-todo-undo
  @include button(#663399)
.btn-todo-backward
  @include button(#d5e129)
//Error
.error
  color: red
  font-size: 13px
  padding-left: 14px
  margin-top: 5px
//Animations
.list-enter-active, .list-leave-active
  transition: all 500ms
.list-enter, .list-leave-to
  opacity: 0
